<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ProjectTest" verbose="1" >
    <test name="CocktailService">
        <classes>

            <class name="test.khlebnikov.bartender.service.CocktailServiceTest">
                <methods>
                    <include name="saveCreatedEn" />
                    <include name="saveCreatedRu" />
                    <include name="updateCreatedEn" />
                    <include name="updateCreatedRu" />
                    <include name="executeUpdateCocktailSaveFav" />
                    <include name="findFavourite" />
                    <include name="findCreated" />
                    <include name="findAllFavourite" />
                    <include name="findAllCreated" />
                    <include name="executeUpdateCocktailDeleteFav" />
                    <include name="executeUpdateCocktailDeleteCreated" />
                    <include name="findAllMatchingEn" />
                    <include name="findAllMatchingRu" />
                </methods>
            </class>

        </classes>
    </test>

    <test name="UserService">
        <classes>

            <class name="test.khlebnikov.bartender.service.UserServiceTest">
                <methods>
                    <include name="testSaveUser" />
                    <include name="testSaveProspectUser" />
                    <include name="testFindUserByEmail" />
                    <include name="testFindUserById" />
                    <include name="testFindUserByCookie" />
                    <include name="testFindProspectByCode" />
                    <include name="testCheckUser" />
                    <include name="testUpdateUser" />
                    <include name="testIsProspectRegistered" />
                    <include name="testDeleteProspectUser" />
                    <include name="testDeleteUser" />
                    <include name="testIsFavouriteCocktail" />
                </methods>
            </class>

        </classes>
    </test>

    <test name="CatalogService">
        <classes>

            <class name="test.khlebnikov.bartender.service.CatalogServiceTest">
                <methods>
                    <include name="findFormDataIngredient" />
                    <include name="findFormDataIngredientRu" />
                    <include name="findFormDataGroup" />
                    <include name="findFormDataGroupRu" />
                    <include name="findFormDataBase" />
                    <include name="findFormDataBaseRu" />
                </methods>
            </class>

        </classes>
    </test>

    <test name="Pool">
        <classes>

            <class name="test.khlebnikov.bartender.pool.ConnectionPoolTest">
                <methods>
                    <include name="getInstance" />
                    <include name="getConnectionPos" />
                    <include name="getConnectionTimeoutPos" />
                    <include name="getConnectionTimeoutNeg" />
                    <include name="releaseConnection" />
                    <include name="closeAll" />
                    <include name="deregisterDriver" />
                </methods>
            </class>

        </classes>
    </test>
</suite>
